body {
  height: 100%;
  color: black;
  width: 100%;
  overflow-x: hidden;
  background: rgb(230,230,230);
}

html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-link {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 1.618rem;
  margin-top: 1.618rem;
  color: inherit;
  font-size: 1.5em;
  text-decoration: none;
}

.project-section {
  height: 100%;
  width: 100%;
}

.project-link {
  height: inherit;
  width: inherit;
  background: black;

}

.project-main {
  margin-right: 1.618rem;
  margin-left: 1.618rem;
  margin-bottom: calc(1.618rem * 2);
  margin-top: calc(1.618rem * 2);
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1200px) {
  .project-main {
    width: 75vw;
    margin-right: 1.618rem;
    margin-left: 1.618rem;
    margin-bottom: 1.618rem;
  }
}

.project-section-title {
  font-size: 3em;
  width: 100%;
  margin-bottom: 2rem;
  padding-top: calc(1.618rem * 2);
  text-align: center;
  color: white;
}

.project-banner-wrapper {
  height: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.project-banner {
  background: url("./images/destroygamesbanner.svg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner {
  margin-bottom: 1.618rem;
}

.project-heading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 1rem;
  padding-left: 1rem;
}

.project-title {
  padding-bottom: 4rem;
  font-size: 3em;
  color: white;
}

.project-date {
  font-size: 1em;
  margin-left: 4em;
}

.project-heading {
  font-size: 1.6em;
  margin-bottom: 1rem;
  width: 100%;
  display: block;
}

.project-description {
  padding-left: 1rem;
  font-size: 1.1em;
}

.project-stack {
  margin-bottom: 1.618rem;
  border-radius: 1rem;
}

.project-stack-title {
  padding-bottom: 0.4rem;
  font-size: 1.4em;
  padding-left: 1rem;
  padding-top: 1rem;

}

.project-stack-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: none;
  padding-left: 1rem;
}

.project-stack-list > li {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1em;
}

.project-description-wrapper {
  padding: 1rem;
  background: white;
}

.introduction-description-summary {
  margin-top: 1.618rem;
  margin-top: calc(1.618rem * 2);
  font-size: 1.5em;
  text-align: center;
}

.project-container {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 1vw;
  padding-bottom: 2.5em;
  width: 85%;
  margin: 0 auto;
  /* justify-content: center; */
  align-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
}

@media screen and (max-width: 1225px) {

  .gallery {
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2, 1fr);

  }
}

.gallery-img-link {
  display: inline-block;
}

.gallery-img {
  width: 100%;
  object-fit: contain;

  /* @media screen and (max-width: 1440px) {
    width: 100%;
    } */
  }

  .galleryitem {
    background: #FAFAFA;
    box-shadow: 0 0 0.3rem black;
  }

  .project-description-container {
    height: 250px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

  }


